.appointment_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 84vh;
    border: 1px dashed;
    flex-direction: column;
}

.makeappointment_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84vh;
}

.makeappointment_container select {
    margin-top: 2rem;
    width: 10rem;
}