@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 84vh;
}

.form_subcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

/* container */
label {
    position: relative; /* to contain absolute elements */
    padding-left: 20px; /* free space for custom checkbox */
    cursor: pointer;
  }
  /* hide default checkbox  */
  label input[type=checkbox] {
    position: absolute; /* prevent taking any space */
    /* cross-browser hidingg */
    opacity: 0;
    width:0; 
    height:0;
  }
  /* custom checkbox */
  label span {
    position: absolute;
    /* position to the free space in <label> */
    top:0;
    left:0;
    width:15px; 
    height:15px;
    background-color: #ddd;
    transition: .3s background-color; /* slight transition */
  }
  /* the check icon */
  label span:after {
    content: "";
    position: absolute;
    display: none;
    /* check icon */
    left: 4px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  label:hover span {
    background-color: #ccc;
  }
  
/**** Here's the trick ***/
label input:checked ~ span {
  background-color: #2eaadc;
}

label input:checked ~ span:after {
  display:block;
}